@charset "UTF-8";

// [common class] 히든텍스트  ================================================
.ally-hidden {
    @include ally-hidden;
}

// [common class] flex  ================================================
.flex-row {
    @include flex($a: center);
    &-8{@include flex($a: center,$gap:0.8rem);}
}
.flex-column {
    @include flex($dir: column, $a: center);
}
.flex-between {
    @include flex($a: center, $j: space-between);
}
.flex-center {
    @include flex($dir: row, $a: center, $j: center);
}
.flex-end {
    @include flex($dir: row, $a: flex-end, $j: flex-end);
}

// [common class] fs-값  ================================================
.fs {
    // fs-xs , fs-s ...
    // fs-xl theme, fs-xl theme-t
    $fsInnerVar: (
        'xs': 12,
        's': 14,
        'm': 16,
        'l': 18,
        'xl': 20,
        'xxl': 24,
        'hxl': 28,
    );
    @each $size, $font in $fsInnerVar {
        &-#{$size} {
            @if $font == 12 {@include font-12;}
            @else if $font == 14 {@include font-14;}
            @else if $font == 16 {@include font-16;}
            @else if $font == 18 {@include font-18;}
            @else if $font == 20 {@include font-20;}
            @else if $font == 22 {@include font-22;}
            @else if $font == 24 {@include font-24;}
            @else if $font == 28 {@include font-28;}
            &.theme {
                @include themeColor(color, text-default);
            }
            &.theme-t {
                @include themeColor(color, text-thick-2);
            }
        }
    }
}

// [common class] 에러텍스트  ================================================
.error-text {
    display: block;
    margin-top: 0.8rem;
    @include font-14;
    @include themeColor(color, error);
}



// [common class] 태그  ================================================
.tag {
    display: inline-flex;
    align-items: center;
    padding: 0 1rem;
    min-height: 2.4rem;
    border-radius: 25px;
    @include font-14;
    @include themeColor(background-color, bg-tag);
    @include themeColor(color, fc-tag);
}