@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'),
        url('@/assets/font/Pretendard-Bold.woff2') format('woff2'),
        url('@/assets/font/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'),
        url('@/assets/font/Pretendard-SemiBold.woff2') format('woff2'),
        url('@/assets/font/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'),
        url('@/assets/font/Pretendard-Regular.woff2') format('woff2'),
        url('@/assets/font/Pretendard-Regular.woff') format('woff');
}