@charset "UTF-8";
#app.dark-theme {
    --autofill : #171C23;
    background-color: #000;
}
#app {
    position: relative;
    height: 100%;
    overflow-y: hidden;
    background-color: #fff;
    > [data-overlayscrollbars] {
        height: 100%;
    }
    // 트랜지션 훅 스타일
    .wrap[class*="slide-fade"] {
        position: fixed;
        left:0;
        right: 0;
        z-index: 101;
        &, & > [data-overlayscrollbars] {
            height: 100%;
        }
        .main > div {
            width: 100%;
            height: 100%;
        }
        .side-nav + div {
            margin-left:var(--navWidth);
        }
        &.slide-fade-enter-active {
            transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
        }
        &.slide-fade-leave-active {
            transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
        }
    }
    &.login-animation {
        .wrap {
            &.slide-fade-leave-to {
                transform: translateY(-100%);
                opacity: 0;
            }
            &.slide-fade-enter-from {
                transform: translateY(100%);
            }
        }
    }
    &.logout-animation {
        .wrap {
            &.slide-fade-leave-to {
                transform: translateY(100%);
                opacity: 0;
            }
            &.slide-fade-enter-from {
                transform: translateY(-100%);
            }
        }
    }
    &.lnb-close {
        --navPadding : 1.2rem;
        --navWidth : 7.2rem;
        .header {
            .ui-logo {
                width: 6rem;
                transform: translateX(-0.7rem);
                &::after, span {
                    opacity: 0;
                }
            }
        }
        .side-nav {
            .nick-name,
            .user-id {
                opacity: 0;
            }
            .text-box {
                width: 0;
            }
            .slot-bottom {
                justify-content: center;
            }
            .logout {
                .text {
                    transition: opacity 0.2s;
                    opacity: 0;
                    @include ally-hidden;
                }
            }
            .accordion-header .toggle-button::before,
            .menu-list-box a::before {
                transform: translateX(0.2rem);
            }
            .menu-list-box .list-2depth a::before {
                transform: translateX(0);
            }
            .accordion-header .toggle-button .title,
            .menu-list-box a .text {
                @include ally-hidden;
            }
            .accordion-header .toggle-button:after {
                position: absolute;
                opacity: 0;
            }

        }
    }
}

.wrap {
    width: 100%;
    height: 100%;
    [data-overlayscrollbars] {
        .os-scrollbar .os-scrollbar-handle {
            @include themeColor(background-color, overlayScrollbar);
            opacity: 0.6;
        }
    }
    > .header + .main {
        height: calc(100% - 6rem);
        min-height: calc(100% - 6rem);
    }

    .header {
        @include pos($pos: sticky, $tp: 0, $lt: 0);
        @include container;
        box-shadow: 
        0 3px 5px -1px rgba(0, 0, 0, .2),
        0 5px 8px 0 rgba(0, 0, 0, .14),
        0 1px 14px 0 rgba(0, 0, 0, .12);
        @include themeColor(background-color, pri-700);
        transition: background-color 0.2s;
        z-index: 100;
        .view-inner {
            @include flex($dir: row, $a: center);
            height: 6rem;
            color: #fff;
            .ui-logo {
                flex-shrink: 0;
            }
        }
        .inner-content {
            width: 100%;
            .slot-right {
                display: flex;
                margin-left: auto;
            }
        }
    }

    .main {
        display: flex;
        height: 100%;
        min-height: 100%;
        background-color: #fff;
        transform: translateZ(0);
        & > [data-overlayscrollbars] {
            height: 100%;
            width: 100%;
        }
        .container {
            width: 100%;
            min-height: 100%;
        }
        .container-content {
            max-width: 1280px;
            margin:0 auto;
        }
    }
    
    .footer {
        margin-top: auto;
        width: 100%;
        border-top: 1px solid;
        @include themeColor(border-color, nav-border);
        @include themeColor(background-color,bg-defult);
        box-shadow : 1px 0 20px rgba(0, 0, 0, 0.078);
        .footer-inner {
            @include flex($a: center, $j: center);
            padding: 0 $containerPadding;
            width: 100%;
            height: 4.8rem;
            .text { 
                @include font-14;
                @include themeColor(color, text-thick-2);
            }
        }
    }

    .side-nav {
        @include pos($pos: fixed, $tp: 0, $lt: 0, $bt: 0);
        width:var(--navWidth);
        border-right: 1px solid transparent;
        @include themeColor(border-color, nav-border);
        @include themeColor(background-color, bg-defult);
        box-shadow : 1px 0 20px rgba(0, 0, 0, 0.078);
        z-index: 10;
        & {
            transition: all 0.2s;
        }
        & > [data-overlayscrollbars] {
            height: 100%;
        }
        & + [data-overlayscrollbars],
        & + .container {
            transition: margin-left 0.2s;
            margin-left:var(--navWidth);
        }
        .user-info-box {
            @include flex($dir: column);
            width: 100%;
            height: 15rem;
            background: url('@/assets/images/common/img_user_background_4.png') no-repeat;
            background-size: 25.6rem 15rem;
            .user-profile {
                @include flex($a: center, $gap: 0.8rem);
                height: 100%;
                padding: 0 var(--navPadding);
                .img-box {
                    @include flex($a: center, $j: center);
                    width: 4.8rem;
                    height: 4.8rem;
                    background-color: #fff;
                    border-radius: 50%;
                    border: 2px solid #ddd;
                    overflow: hidden;
                    flex-shrink: 0;
                    .img{
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
                .text-box {
                    width: 100%;
                }
                .nick-name {
                    @include font-18($color: #fff);
                    @include ellipsis;
                    span {
                        font-weight: 600;
                    }
                }
                .user-id {
                    @include font-13($color: var(--gray-300));
                    @include ellipsis;
                    span {
                        font-weight: 600;
                    }
                }
            }
            .slot-bottom {
                @include flex($a: center, $j: flex-end);
                margin-top: auto;
                padding: 0 var(--navPadding);
                height: 4rem;
                background-color: rgba(0, 0, 0, 0.6);
                flex-shrink: 0;
                .logout {
                    @include ellipsis;
                }
            }
        }
        .menu-list-box {
            padding: 2.4rem var(--navPadding);
            .list-info {
                @include font-16;
                @include themeColor(color, text-thick-2);
                font-weight: 600;
                margin-bottom: 1.4rem;
                @include ellipsis;
                transform: translateX(0.3rem);
            }
            ul {
                @include flex($dir: column, $gap: 0.8rem);
            }
            > ul {
                > li {
                    > a {
                        transition: 0.2s all;
                        padding:0 1.2rem;
                        &.router-link-active {
                            @include themeColor(background-color, pri-700, important);
                            color: #fff !important;
                            &::before {
                                color: #fff !important;
                            }
                        }
                    }
                }
                a {
                    @include flex($a: center, $gap: 0.6rem);
                    padding:0 1.6rem;
                    width:100%;
                    height: 4.8rem;
                    border-radius: 8px;
                    @include font-14;
                    @include themeColor(color, menu-btn);
                    font-weight: 600;
                    @include ellipsis;
                    &, &::before {
                        transition: 0.2s all;
                        @include themeColor(color, menu-btn);
                    }
                    &.router-link-active {
                        @include themeColor(background-color, menu-btn-hover);
                        @include themeColor(color, pri-700);
                    }
                    &:not(.router-link-active):hover {
                        @include themeColor(background-color, menu-btn-hover);
                        @include themeColor(color, pri-700);
                        &::before {
                            @include themeColor(color, pri-700);
                        }
                    }
                }
                .list-2depth a {
                    &::before{
                        @include xeiconBefore($icon:'\ea5d',$s:16,$fw:100);
                    }
                    &.router-link-active {
                        &::before {
                            @include themeColor(color, pri-700);
                        }
                    }
                }
                .Home:before {@include xeiconBefore($icon:'\eac0',$s:20,$fw:100); margin-right: 0.2rem;}
                .company .toggle-button::before {@include xeiconBefore($icon:'\e9d8',$s:20,$fw:100);}
                .training .toggle-button::before {@include xeiconBefore($icon:'\ea35',$s:20,$fw:100);}
                .rules .toggle-button::before {@include xeiconBefore($icon:'\ea88',$s:20,$fw:100);}
                .Resources::before {@include xeiconBefore($icon:'\ea93',$s:20,$fw:100);}
            }
        }

        .not-acc {
            pointer-events: none;
            color: red !important;
        }
    }

    &[ui-layout="layoutDefault"] {
        .main {
            @include themeColor(background-color, bg-inner);
            transition: background-color 0.2s;
            > [data-overlayscrollbars-initialize] {
                [data-overlayscrollbars-contents] {
                    @include flex($dir: column);
                }
            }
            .container {
                padding: $containerPadding;
                padding-bottom: 4.8rem;
                flex-shrink: 0;
                min-height: unset;
            }
        }
    }
    &[ui-layout="layoutLogin"] {
        .main > div {
            // height: auto;
        }
    }

}

.ui-logo {
    &,* {
        transition: all 0.2s;
    }
    @include flex($a: center);
    overflow: hidden;
    .logo { 
        width: 5.6rem;
    }
    span { 
        @include font($s:32,$lh:44,$color:#fff);
        @include ellipsis; 
    }
    &.logo-link {
        width: calc(25.6rem - 2rem);
        a{
            @include flex($a: center);
            .logo { 
                width: 4rem;
            }
            span {
                @include font($s:24, $lh: 34);
            }
        }
    }
    &.beta-label {
        a::after {
            content: 'Beta';
            display: block;
            @include font($s:11, $lh: 13, $color: #fff);
            margin: -1.2rem 0 0 0.4rem;
            padding: 0.1rem 0.5rem;
            border-radius: 4px;
            background-color: var(--error);
            @include ellipsis; 
        }
        &:not(.logo-link) {
            &::after {
                content: 'Beta';
                display: block;
                @include font($s:13, $lh: 16, $color: #fff);
                margin: -1.2rem 0 0 0.4rem;
                padding: 0.2rem 0.6rem;
                border-radius: 4px;
                background-color: var(--error);
            }
        }
    }
}

.view-inner {
    margin:0 auto;
}

.section-area {
    $flexGap : 2rem;
    &.row {
        @include flex($wrap:wrap, $gap: $flexGap);
    }
    > .inner-col {
        padding: 2rem;
        max-width: 100%;
        min-height: 10rem;
        border-radius: 6px;
        @include themeColor(box-shadow, shadow-col);
        &:not([class*='type-bg']) {
            border: 1px solid;
            @include themeColor(border-color, border-col);
            @include themeColor(background-color, bg-col);
        }
        &.posts {
            padding: 0;
        }
        &.col {
            &-1 {flex: 0 0 100%;}
            &-1-2 {flex: 0 0 calc((100%)*1/2 - ($flexGap)*1/2);}
            &-1-3 {flex: 0 0 calc((100%)*1/3 - ($flexGap)*2/3);}
            &-2-3 {flex: 0 0 calc((100%)*2/3 - ($flexGap)*1/3);}
            &-1-4 {flex: 0 0 calc((100%)*1/4 - ($flexGap)*3/4);}
            &-3-4 {flex: 0 0 calc((100%)*3/4 - ($flexGap)*1/4);}
        }
    }
}
