@charset "UTF-8";
#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.wrap {
    width: 100%;
    flex:1;
    &[ui-layout="layoutDefault"] {
        .header {
            border-bottom: 1px solid red;
            .view-inner {
                @include flex($dir: row, $a: center, $wrap: wrap);
                height: 6rem;
            }
        }
        .main {
            @include container;
            max-width: 1280px;
            margin:0 auto;
        }
        .footer {}

    }
}

.view-inner {
    @include container;
    margin:0 auto;
    &[ui-size="normal"] {
        max-width: 1280px;
    }
}
