@charset "UTF-8";
// 테마 ================================================
// _variable.scss에서 $theme 받아 적용
@function get-color($key, $type: 'light') {
    @each $name, $color in map-get($theme, $type) {
        @if($key == $name) {
            @return $color;
        }
    }
}
// $property  : css의 속성 (color,background-color ...)
// 실제사용    : @include themeColor(color, text-default);
@mixin themeColor($property, $color, $imp: null) {
    @if($imp != null) {
        #{$property}: get-color($color) !important;
    } @else {
        #{$property}: get-color($color);
    }
    @at-root #app.dark-theme & { // 최상위 #app 할당
        @if($imp != null) {
            #{$property}: get-color($color, dark) !important;
        } @else {
            #{$property}: get-color($color, dark);
        }
    }
}

// 해상도 ================================================
// $mobile: 360px; $tablet: 768px; $desktop: 1200px;
@mixin mobile {
    @media (min-width: 280px) and (max-width: $mobile) {@content;}
}
@mixin tablet {
    @media (max-width: $tablet) {@content;}
}
@mixin desktop {
    @media (min-width: $desktop) {@content;}
}

// 공통여백 컨테이너 ================================================
@mixin container {
    width: 100%;
    padding-left: $containerPadding;
    padding-right: $containerPadding;
}

// 포지션 ================================================
@mixin pos($pos: relative, $tp: null, $bt: null, $lt: null, $rt: null, $index: null) {
    position: $pos;
    @if($tp != null) {top: $tp;}
    @if($bt != null) {bottom: $bt;}
    @if($lt != null) {left: $lt;}
    @if($rt != null) {right: $rt;}
    @if($index != null) {z-index: $index;}
}

// flex 정렬 ================================================
@mixin flex($dir: null, $a: null, $j: null, $wrap: null, $gap: null) {
    display: flex;
    @if($dir != null) {flex-direction: $dir;}
    @if($a != null) {align-items: $a;}
    @if($j != null) {justify-content: $j;}
    @if($wrap != null) {flex-wrap: $wrap;}
    @if($gap != null) {gap: $gap;}
}

// 숨김텍스트 ================================================
@mixin ally-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
}

// 말줄임 ================================================
@mixin ellipsis($lines: 1) {
    @if ($lines==1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
    }
}

// 아이콘 ================================================
@mixin xeiconBefore($icon: '', $s: null, $fw: 200, $color: var(--gray-800)) {
    content: $icon;
    @if($s != null) {
        width: calc($s/10) + rem;
        height: calc($s/10) + rem;
        font-size: calc($s/10) + rem;
    }
    color: $color;
    font-family: 'xeicon';
    font-weight: $fw;
    line-height: 1;
}

// 커스텀폰트 ================================================
@mixin font($s: null, $lh: null, $color: null, $wb: null, $fw: null) {
    @if($s != null) {font-size: calc($s/10) + rem;}
    @if($lh != null) {line-height: calc($lh/10) + rem;}
    @if($fw != null) {font-weight: $fw;}
    @if($color != null) {color: $color;}
    @if($wb != null) {word-break: $wb;}
}

// 지정폰트 ================================================
@mixin font-12($color: null) { @include font($s: 12, $lh: 20); @if($color != null) {color:$color} @else {color: $font-color-default} }
@mixin font-13($color: null) { @include font($s: 13, $lh: 20); @if($color != null) {color:$color} @else {color: $font-color-default} }
@mixin font-14($color: null) { @include font($s: 14, $lh: 20); @if($color != null) {color:$color} @else {color: $font-color-default} }
@mixin font-16($color: null) { @include font($s: 16, $lh: 24); @if($color != null) {color:$color} @else {color: $font-color-default} }
@mixin font-18($color: null) { @include font($s: 18, $lh: 26); @if($color != null) {color:$color} @else {color: $font-color-default} }
@mixin font-20($color: null) { @include font($s: 20, $lh: 28); @if($color != null) {color:$color} @else {color: $font-color-default} }
@mixin font-22($color: null) { @include font($s: 22, $lh: 32); @if($color != null) {color:$color} @else {color: $font-color-default} }
@mixin font-24($color: null) { @include font($s: 24, $lh: 34); @if($color != null) {color:$color} @else {color: $font-color-default} }
@mixin font-26($color: null) { @include font($s: 26, $lh: 36); @if($color != null) {color:$color} @else {color: $font-color-default} }
@mixin font-28($color: null) { @include font($s: 28, $lh: 40); @if($color != null) {color:$color} @else {color: $font-color-default} }
