@charset "UTF-8";
// 팝업 트랜지션 훅 (full , alert)
.popup-effect {
    &-enter-active,
    &-leave-active {
        &.popup {
            transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            &.full .popup-wrap {
                transform-origin: top left;
                transform: translate(-50%, -50%) !important;
                transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
            &.alert .popup-wrap {
                transform-origin: left top;
                transform: scale(0.8) translate(-50%, -50%) !important;
                transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
        }
    }
    &-enter-to,
    &-leave-from {
        &.popup {
            opacity: 1;
            &.full .popup-wrap {transform: translate(-50%, -50%) !important;}
            &.alert .popup-wrap {transform: scale(1) translate(-50%, -50%) !important;}
        }
    }
    &-enter-from,
    &-leave-to {
        &.popup {
            opacity: 0;
            &.full .popup-wrap {transform: translate(-50%, -70%) !important;}
            &.alert .popup-wrap {transform: scale(0.8) translate(-50%, -50%) !important;}
        }
    }
}


.popup {
    // 어차피 os scroll 안써서 팝업호출시 body클래스제어 필요없음 (overlayscrollbars)
    position: absolute;
    z-index: 1001;
    [data-overlayscrollbars] {
        .os-scrollbar .os-scrollbar-handle {
            @include themeColor(background-color, overlayScrollbar);
            opacity: 0.6;
        }
    }

    .button-close {
        @include pos($pos: absolute, $tp: 2rem, $rt: 2rem);
        &::before {
            @include xeiconBefore($icon: '\e921', $s: 24);
            @include themeColor(color, text-thick);
        }
    }

    .popup-wrap {
        @include pos($pos: fixed, $tp: 50%, $lt:50%);
        @include flex($dir: column);
        @include themeColor(background-color, popup-bg);
        width: calc(100% - $containerPadding*2);
        max-height: 90dvh;
        max-width: auto;
        border-radius: 20px;
        transform: translate(-50%, -50%);
        z-index: 1001;
        .os-scrollbar-vertical {
            z-index: 2;
        }
        // 트래지션 leave 일떄 스크롤 선택사라져서 대응
        & > div:not([class]) {
            flex: 1;
            overflow: hidden !important;
        }
        [data-overlayscrollbars-initialize] {
            flex: 1;
        }

        .popup-header {
            position: relative;
            @include flex($a: center);
            flex: 0 0 6rem;
            padding: 0 6rem 0 2rem;
            .title-box {
                display: flex;
                min-width: 0;
                .title {
                    @include font-18;
                    line-height: 2.4rem;
                    @include ellipsis;
                    @include themeColor(color, text-thick);
                    font-weight: 600;
                    transform: translateY(0.2rem);
                }
            }
            &::after {
                content: '';
                position: absolute;
                height: 1px;
                width: calc(100% - 4rem);
                left: 2rem;
                bottom: 0;
                @include themeColor(background-color, text-thick-2);
            }
        }
        .popup-content {
            padding: 2rem 2rem 4rem;
        }
        .popup-footer {
            position: relative;
            padding: 1rem 2rem 1.6rem;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 100%;
                height: 10px;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
                z-index: 1;
                @include themeColor(background, popup-footer);
            }
            .c-confirm-button-box {
                @include flex($gap: 0.8rem);
                .ui-button {
                    width: 100%;
                }
            }
        }
    }

    
    &.full {
        &.size-large {
            .popup-wrap {max-width: 80rem;}
        }
        .popup-wrap {
            max-width: 60rem;
        }
    }

    &.alert {
        .popup-wrap {
            max-width: 30rem;
            .popup-content {
                padding: 1rem 2rem 1rem;
            }
        }
        .alert-inner {
            text-align: left;
            @include font-16();
            @include themeColor(color, text-default);
            &.left {
                text-align: left;
            }
            &.center {
                text-align: center;
            }
            &.right {
                text-align: right;
            }
            .alert-text {
                white-space: pre;
            }
        }
    }
}
