@charset "UTF-8";
:root {
    // color - 메인
    --primary      : #0046FF;
    --primary-900  : #0047E7;
    --primary-800  : #005DF9;
    --primary-700  : #2680FF;
    --primary-600  : #4A86FF;
    --primary-500  : #689EFF;
    --primary-400  : #9DC1FF;
    --primary-300  : #CDE0FF;
    --primary-200  : #E5EEFF;
    --primary-100  : #EFF5FF;
    // color - 검정
    --gray-900 : #121315;
    --gray-800 : #242A34;
    --gray-700 : #373E4D;
    --gray-600 : #576072;
    --gray-500 : #8B95A9;
    --gray-400 : #C7CEDC;
    --gray-300 : #DCE2ED;
    --gray-200 : #E7EDF6;
    --gray-100 : #F3F6FB;
    // error
    --error    : #D61111;
    // 오토필
    --autofill : #fff;
    // etc
    --navWidth      : 25.6rem;
    --navPadding    : 2rem;
}

// 화면좌우 여백
$containerPadding: 2rem;

// 해상도
$mobile: 360px;
$tablet: 768px;
$width1000 : 1000px;
$desktop: 1199px;

// 폰트 기본컬러
$font-color-default: var(--gray-900);

// 테마지정 color 
$theme:(
    light: (
        overlayScrollbar    : #aaa,
        bg-defult           : #ffffff,
        bg-inner            : #eef5f9,
        bg-login            : #E0ECF8,
        bg-login-2          : #fff,
        text-default        : var(--gray-900),
        text-default-2      : #fff,
        text-thick          : var(--gray-900),
        text-thick-2        : var(--gray-900),
        pri-800             : var(--primary-800),
        pri-700             : var(--primary-700),
        pri-700-bg          : var(--primary-700),
        pri-300             : var(--primary-300),
        gray-800            : var(--gray-800),
        secondary           : var(--gray-200),
        menu-btn            : var(--gray-900),
        menu-btn-hover      : #eff4ff,
        nav-border          : transparent,
        check-default       : var(--gray-600),
        error               : #D61111,
        bg-col              : #fff,
        shadow-col          : (rgba(145, 158, 171, 0.3) 0 0 2px, rgba(145, 158, 171, 0.1) 0 12px 24px -4px),
        border-col          : transparent,
        md-fc-incode        : #0056b2,
        md-bg-incode        : #f6f6f7,
        md-fc-anc           : var(--primary-700),
        md-line-color       : #d8dee4,
        fc-tag              : var(--gray-900),
        bg-tag              : #f2f6fa,
        bg-bq-info          : (rgb(225, 245, 254)),
        fc-bq-info          : (rgb(0, 112, 203)),
        bg-bq-warning       : (rgb(255, 243, 205)),
        fc-bq-warning       : (rgb(239, 156, 3)),
        bg-bq-danger        : (rgba(248, 215, 218, 0.56)),
        fc-bq-danger        : (rgb(223, 60, 48)),
        tb-line-color       : #cccccc,
        popup-bg            : #fff,
        popup-footer        : (linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%)),
        fc-card             : var(--primary-100),
    ),
    dark: (
        overlayScrollbar    : #dedede,
        bg-defult           : #171C23,
        bg-inner            : #14181e,
        bg-login            : #0c1117,
        bg-login-2          : #171C23,
        text-default        : #a4acb8,
        text-default-2      : #dde8f7,
        text-thick          : #f0f0f0,
        text-thick-2        : #dde8f7,
        pri-800             : var(--primary-800),
        pri-700             : #0596ee,
        pri-700-bg          : #0244a0,
        pri-300             : (rgba(205, 224, 255, 0.04)),
        gray-800            : #fff,
        secondary           : var(--gray-200),
        menu-btn            : #7c8fac,
        menu-btn-hover      : #0596ee1a,
        nav-border          : #333F55,
        check-default       : #7c8fac,
        error               : #ff5a5a,
        bg-col              : transparent,
        shadow-col          : (rgba(145, 158, 171, 0.302) 0 0 2px,rgba(145, 158, 171, 0.02) 0 12px 24px -4px),
        border-col          : #333F55,
        md-fc-incode        : #8ab4f8,
        md-bg-incode        : #323238,
        md-fc-anc           : #0596ee,
        md-line-color       : #333F55,
        fc-tag              : #fff,
        bg-tag              : #333F55,
        bg-bq-info          : (rgba(7, 59, 104, 0.8)),
        fc-bq-info          : (rgb(0, 117, 209)),
        bg-bq-warning       : (rgba(90, 69, 3, 0.88)),
        fc-bq-warning       : (rgba(255, 165, 0, 0.8)),
        bg-bq-danger        : (rgba(86, 28, 8, 0.8)),
        fc-bq-danger        : (rgb(205, 2, 2)),
        tb-line-color       : #333F55,
        popup-bg            : #242526,
        popup-footer        : (linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #242526 100%)),
        fc-card             : #cafbfd,
    )
);

