@charset "UTF-8";

// 페이지 상단 타이틀 ================================================
.page-top-slot {
    p {
        @include flex($a: center, $gap: 0.4rem);
        &::before {
            @include xeiconBefore($icon: '\ea8d', $s: 22);
            @include themeColor(color, text-default);
        }
    }
    & ~ .section-area {
        margin-top: 2rem;
    }
}

.project-info-area {
    @include pos;

    .project-info-header {
        margin-bottom: 2.4rem;
        .title-box {
            @include flex($a: center, $gap: 0.8rem);
            .title {
                @include font-18;
                @include themeColor(color, text-thick-2);
                font-weight: 500;
            }
            &::before {
                @include xeiconBefore($icon:'\eadb', $s: 24);
                @include themeColor(color, text-thick-2);
            }
        }
    }

    .preview-img-box {
        @include pos;
        margin-bottom: 2.4rem;
        width: 100%;
        aspect-ratio: 960 / 420;
        border-radius: 8px;
        overflow: hidden;
        background: url('@/assets/images/project/mockup/img-mockup-background.png') no-repeat center/contain;
        &.pc-only {
            .mockup-pc {
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .mockup-mobile {display: none;}
        }
        &.mb-only {
            .mockup-mobile {
                right: 50%;
                transform: translate(50%, -50%);
            }
            .mockup-pc {display: none;}
        }
    }
    .mockup {
        &-pc, &-mobile {
            @include flex($a: center, $j: center);
            transform: translateY(-50%);
            overflow: hidden;
            img {
                image-rendering:-webkit-optimize-contrast;
            }
            &::before {
                content: '';
                @include pos($pos: absolute);
                width: 100%;
                height: 100%;
                z-index: 2;
            }
            .no-data-box {
                @include flex($dir: column, $a:center, $j: center, $gap: 0.8rem);
                width: 98%;
                height: 92%;
                border-radius: 8px;
                @include themeColor(background-color, popup-bg);
                .text {
                    @include font-16;
                    font-size: min(1.6rem,2.5dvw);
                    @include themeColor(color, text-thick);
                }
                &::before {
                    @include xeiconBefore($icon: '\eb79', $s: 24);
                    @include themeColor(color, text-thick);
                }
            }
        }
        &-pc {
            @include pos($pos: absolute, $tp: 50%, $lt: 8%);
            width: 60%;
            aspect-ratio: 860 / 500;
            &::before {
                background: url('@/assets/images/project/mockup/img-mockup-tablet.png') no-repeat center/contain;
            };
            .pc {
                @include pos;
                width: 100%;
                height: 100%;
                transform: scale(0.94) translate(-2px, 2px);
                z-index: 1;
            }
        }
        &-mobile {
            @include pos($pos: absolute, $tp: 50%, $rt: 8%);
            width: 20%;
            aspect-ratio: 320 / 568;
            &::before {
                background: url('@/assets/images/project/mockup/img-mockup-mobile.png') no-repeat center/contain;
            }
            .mobile {
                @include pos;
                width: 92%;
                height: 100%;
                transform: scale(0.96) translate(1px, -1px);
                border-radius: 8px;
                z-index: 1;
            }
        }
    }

    .info-group {
        .inner {
            padding: 2rem;
            border-radius: 6px;
            border: 1px solid;
            @include themeColor(box-shadow, shadow-col);
            @include themeColor(border-color, md-line-color);
        }
    }

    @include tablet {
        .preview-img-box {
            aspect-ratio: 960 / 560;
            background-size: 100% 100%;
            &.mb-only {
                .mockup-mobile {
                    width: 30%;
                }
            }
        }
        .mockup {
            &-pc {
                width: 80%;
                left: 1.6rem;
                &::before {
                    background-size: 100% 100%;
                }
            }
            &-mobile {
                width: 20%;
                right: 1.6rem;
                &::before {
                    background-size: 100% 100%;
                }
            }
        }
    }
}
.info-list {
    @include flex($gap: 1.2rem, $wrap: wrap);
    > li.item {
        @include flex($gap:0.8rem);
        width: calc(100%*(1/2) - 1.2rem*(1/2));
        &.size-full {
            width: 100%;
        }
        .item-name {
            width: 14rem;
            flex-shrink: 0;
            .name {
                @include font-14;
                @include themeColor(color, text-thick);
                font-weight: 500;
            }
        }
        .item-content {
            .text {
                @include font-14;
                word-break: keep-all;
                @include themeColor(color, text-thick-2);
            }
        }
        .item-link {
            @include font-14;
            text-decoration: underline;
            @include themeColor(color, md-fc-anc);
        }
        .no-link {
            @include themeColor(color, error, !important);
        }
    }
    @include tablet {
        > li.item {
            width: 100%;
            .item-name {
                width: 10rem;
            }
        }
    }
}

.error-message-box {
    @include flex($dir: column, $a:center, $j:center, $gap: 0.8rem);
    &::before {
        @include xeiconBefore($icon:'\e9aa', $s: 48);
        @include themeColor(color, fc-bq-danger);
    }
    .text {
        @include font-16();
        @include themeColor(color, text-default);
    }
}