@charset "UTF-8";

.ui-button {
    &[class*="sq-"] {
        width: 100%;
        height: 4.8rem;
        border-radius: 8px;
        transition: all 0.2s;
        
        &.size-small {
            height: 3.6rem;
            @include font($s:16);
        }
    }
    &.sq {
        &-primary {
            @include font($s:20, $color:#fff, $fw:900);
            background-color: var(--primary-800);
            &:hover:not(:active) {
                background-color: rgba(0, 93, 249, 0.9);
            }
            &:active {
                background-color: var(--primary-900);
            }
        }
        &-cancel {
            @include font($s:20, $color:var(--gray-900), $fw:900);
            background-color: var(--gray-200);
            &:hover:not(:active) {
                background-color: rgba(213, 224, 240, 0.9);
            }
            &:active {
                background-color: var(--gray-300);
            }
        }
    }

    &.icon {
        @include pos;
        @include flex($a: center, $j: center, $gap: 0.4rem);
        width: auto;
        height: auto;
        transition: all 0.2s;
        &::after,
        &::before {
            display: block;
        }

        &.xs::before {@include xeiconBefore($s:18)};
        &.sm::before {@include xeiconBefore($s:20)};
        &.md::before {@include xeiconBefore($s:24)};
        &.lg::before {@include xeiconBefore($s:28)};
        &.xl::before {@include xeiconBefore($s:32)};
        .text {
            @include font($s:14, $lh: 20, $fw:400);
        }
        
        &.menu {
            width: 3.6rem;
            height: 3.6rem;
            border-radius: 50%;
            background-color: rgba(255,255,255,0);
            &:hover {
                background-color: rgba(255,255,255,0.2);
            }
            &:active {
                background-color: rgba(255,255,255,0.3);
            }
            &.icon-right::after,
            &:not(.icon-right)::before {
                @include xeiconBefore($icon: '\e91c', $s: 24, $color: #fff);
            }
        }
        &.logout {
            .text {color: #fff;}
            &.icon-right:after,
            &:not(.icon-right)::before {
                @include xeiconBefore($icon: '\e94c', $s: 18, $color: #fff);
            }
        }
        &.scroll-top {
            width: 3.6rem;
            height: 3.6rem;
            border-radius: 50%;
            @include themeColor(background-color, pri-700-bg);
            opacity: 1;
            transition: opacity 0.2s;
            &::before {
                @include xeiconBefore($icon: '\e945', $s: 24, $color: #fff);
                font-weight: bold;
                transform: translate(0, -0.1rem);
            }
            &:hover {
                opacity: 0.9;
            }
        }
    }
}