@charset "UTF-8";

.ui-checkbox {
    position: relative;
    display: inline-block;
    label {
        position: relative;
        display: inline-flex;
        align-items: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        input[type="checkbox"] {
            @include pos($pos: absolute, $tp: 0, $lt: 0, $index: 1);
            width: 100%;
            height: 100%;
            &:checked ~ .check-inner {
                    color: var(--gray-800);
                &::before {
                    @include xeiconBefore($icon: '\e92b', $color: var(--primary-800));
                }
            }
        }
        .check-inner {
            @include flex($gap: 0.4rem);
            @include font-16($color: var(--gray-600));
            transition: all 0.2s;
            z-index: 1;
            &::before {
                @include xeiconBefore($icon: '\e92c', $s: 24, $color: var(--gray-600));
                display: block;
                @include pos($pos: relative, $tp: 0, $lt: 0);
                margin-top: -0.1rem;
                transition: all 0.2s;
                flex-shrink: 1;
            }
        }
    }
}

.ui-switch {
    label {
        position: relative;
        display: inline-flex;
    }
    input[type="checkbox"] {
        @include pos($pos: absolute, $tp:0, $bt: 0, $lt: 0, $rt: 0);
        width: 100%;
        height: 100%;
        z-index: 1;
        cursor: pointer;
        &:checked + .swich-icon {
            background-color: var(--primary-800);
            &::before {
                transform:translateX(23px) translateY(-50%);
            }
        }
    }
    .swich-icon {
        display: block; 
        position: relative; 
        width: 4.6rem; 
        height: 2.4rem; 
        border-radius: 25px; 
        background-color: var(--gray-400); 
        transition:all 0.2s;
        &::before {
            content: ''; 
            @include pos($pos: absolute, $tp:50%);
            width: 2.2rem; 
            height: 2.2rem; 
            border-radius:50%; 
            background-color:#fff; 
            transform:translateX(1px) translateY(-50%); 
            transition:all 0.2s;
        }
    }

    &.theme {

    }
}
